.navbar-nav {
    gap: 50px;
}
.container{
    gap: 50px;
    margin-left: 0;
    margin-right: 0;
}

nav.navbar.navbar-expand-lg.bg-light {
    padding: 18px;
}
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    width: 305px;
    gap: 14px;
    
  }

  .search-bar input {
    border: none;

    flex: 1;
    padding: 5px;
    
  }

  .search-bar i {
    color: rgb(174, 171, 171);
    font-size: 18px;
    
  }

  
  i.bi.bi-person-circle {
    color: grey;
    font-size: 30px !important;
    /* margin-right: 170px; */
    margin: 0; }

.line {
    display: flex;
    background-color: #1e3932;
    padding: 20px;
    margin-left:77.200px ;
    margin-right:77.200px ;
    color: white;
}

.line button
{
    display: flex;
    background-color: #1e3932;
    border-radius: 25px;
    height: 25px;
    color:white;
    height: 24px;
    float: right;
    border: 1px solid white;
    
    }

    .outline {
        background-color: #1e3932;
    }

    .starbucks{
        height: 24px;
        width: 704px;
        padding-left:
        12px; padding-right:
        12px; margin-bottom:0;
    }

    .knowmore{
        padding-left: 12px;
        padding-right: 12px;
        
    }
    .flot-card{
        display: flex;
        float: left;
    }
    .passd {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .recomends{
        height: 300px;
        background-color: #edebe9;
        width: 100%;
        margin-top:4rem;
    }
    .recomends-inner{
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
    }